<head><meta name="viewport" content="width=device-width, initial-scale=1" /></head>
   <div class="section about" id="about">
      <div class="about-head"><h1 class="about-head__heading">ABOUT</h1> </div>
      <div class="about-contents">
      <p class="about-contents__el">We are a minimalistic flower studio. We love people and flowers. Therefore, every day we give 
      people the beauty and joy creating stylish and modern masterpieces. 
      Every bouquet we create is unique as you are.</p>
  <img class="about-contents__img" src="./images/about/about-mobile.jpg" 
  srcset="./images/about/about-mobile.jpg 288w,
  ./images/about/about-tablet.jpg 344w,
  ./images/about/about-desktop.jpg 632w,
  ./images/about/about-mobile@2x.jpg 576w,
  ./images/about/about-tablet@2x.jpg 688w,
  ./images/about/about-desktop@2x.jpg 1264w,"
          sizes="(min-width: 1280px) 288px, (min-width: 768px) 344px, 632px"
          alt="pink flowers"></div></div>
        </body>
