<div class="container">
    <div class="section">
      <div class="a-head"><div class="a-head__sign"><h1 class="a-head__heading">ABOUT</h1></div> </div>
      <div class="a-contents">
      <p class="a-contents__el">We are a minimalistic flower studio. We love people and flowers. Therefore, every day we give 
      people the beauty and joy creating stylish and modern masterpieces. 
      Every bouquet we create is unique as you are.</p>
  <img class="a-contents__img" scr="" srcset="" alt="flowers" width="288px" height="178px"></div></div></div>