<section class="section blog" id="blog">
  <h2 class="blog__header">BLOG</h2>
  <div class="blog__galery">
    <img class="blog__img" src="./images/blog/blog-desktop.jpg" alt="" />
    <img class="blog__img" src="./images/blog/blog2-desktop.jpg" alt="" />
  </div>
  <div class="blog__slider-btns">
    <svg class="blog__btn-left" width="50" height="50">
      <use href="./images/icons.svg#icon-logo-mobile"></use>
    </svg>

    <svg class="blog__btn-right" width="50" height="50">
      <use href="./images/icons.svg#icon-logo-mobile"></use>
    </svg>
  </div>
  <p class="blog__description">Follow to our newsletter</p>
  <button class="btn blog__btn-sub" type="button">Subscribe</button>
</section>
