<section class="section blog" id="blog">
  <h2 class="blog__header">BLOG</h2>
  <div class="blog__galery">
    <img
      class="blog__img"
      src="./images/blog/blog-mobile.jpg"
      srcset="
        ./images/blog/blog-mobile.jpg      288w,
        ./images/blog/blog-tablet.jpg      344w,
        ./images/blog/blog-desktop.jpg     632w,
        ./images/blog/blog-mobile@2x.jpg   576w,
        ./images/blog/blog-tablet@2x.jpg   688w,
        ./images/blog/blog-desktop@2x.jpg 1264w
      "
      sizes="(min-width: 1280px) 632px, (min-width: 768px) 344px, 288px"
      alt="pink flowers"
    />
    <img
      class="blog__img"
      src="./images/blog/blog-mobile.jpg"
      srcset="
        ./images/blog/blog3-mobile.jpg      288w,
        ./images/blog/blog3-tablet.jpg      344w,
        ./images/blog/blog3-desktop.jpg     632w,
        ./images/blog/blog3-mobile@2x.jpg   576w,
        ./images/blog/blog3-tablet@2x.jpg   688w,
        ./images/blog/blog3-desktop@2x.jpg 1264w
      "
      sizes="(min-width: 1280px) 632px, (min-width: 768px) 344px, 288px"
      alt="pink flowers"
    />
    <img
      class="blog__img"
      src="./images/blog/blog-mobile.jpg"
      srcset="
        ./images/blog/blog4-mobile.jpg     136w,
        ./images/blog/blog4-tablet.jpg     344w,
        ./images/blog/blog4-desktop.jpg    390w,
        ./images/blog/blog4-mobile@2x.jpg  272w,
        ./images/blog/blog4-tablet@2x.jpg  688w,
        ./images/blog/blog4-desktop@2x.jpg 780w
      "
      sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, 136px"
      alt="pink flowers"
    />
  </div>
  <div class="blog__slider-btns">
    <svg class="blog__btn-left" width="50" height="50">
      <use href="./images/icons.svg#icon-arrow-left"></use>
    </svg>

    <svg class="blog__btn-right" width="50" height="50">
      <use href="./images/icons.svg#icon-arrow-right"></use>
    </svg>
  </div>
  <p class="blog__description">Follow to our newsletter</p>
  <button class="btn blog__btn-sub" type="button">Subscribe</button>
</section>
