<section class="section delivery" id="delivery">
  <h1 class="d-head__heading">DELIVERY</h1>
  <ul class="d-list">
    <li class="d-list__el">
      <div class="d-list__el--circle">
        <span class="d-list__el--point">1</span>
      </div>
      <p class="d-list__el--text">Choose your bouquet and make an order on website</p>
    </li>
    <li class="d-list__el">
      <div class="d-list__el--circle">
        <span class="d-list__el--point">2</span>
      </div>
      <p class="d-list__el--text">
        Wait for the call to clarify the details of the order. You can pay online or to the courier
      </p>
    </li>
    <li class="d-list__el">
      <div class="d-list__el--circle">
        <span class="d-list__el--point">3</span>
      </div>
      <p class="d-list__el--text">
        Wait for the delivery at the selected time or pick up the order from the store
      </p>
    </li>
    <li class="d-list__el">
      <div class="d-list__el--circle">
        <p class="d-list__el">
          <span class="d-list__el--point">4</span>
        </p>
      </div>

      <p class="d-list__el--text">Make someone happy or enjoy yourself</p>
    </li>
  </ul>
  <img
    class="d-img"
    src="./images/delivery/delivery-mobile.jpg"
    srcset="
      ./images/delivery/delivery-desktop.jpg    1280w,
      ./images/delivery/delivery-tablet.jpg      768w,
      ./images/delivery/delivery-mobile.jpg      320w,
      ./images/delivery/delivery-desktop@2x.jpg 2560w,
      ./images/delivery/delivery-tablet@2x.jpg  1536w,
      ./images/delivery/delivery-mobile@2x.jpg   640w
    "
    sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, 320px"
    alt="a bouqet of flowers"
  />
</section>
