<footer>
  <section class="section">
    <div class="footer">
      <div class="footer-box footer-box__logo">
        <a href="#">
          <svg class="footer-box__logo--icon" width="73" height="57">
            <use href="../src/images/icons.svg#icon-logo-tablet-desktop"></use>
          </svg>
        </a>
      </div>

      <div class="footer-menu">
        <div class="footer-menu__item footer-box">
          <h3 class="footer-box__title">Navigation</h3>
          <div class="footer-content">
            <a href="#anemone" class="footer-content__item">Anemone</a>
            <a href="#about-us" class="footer-content__item">About us</a>
            <a href="#store" class="footer-content__item">Store</a>
            <a href="#delivery" class="footer-content__item">Delivery</a>
          </div>
        </div>
        <div class="footer-menu__item footer-box">
          <h3 class="footer-box__title">Opening times</h3>
          <div class="footer-content">
            <p class="footer-content__item">Every day <br />9:00 - 22:00</p>
          </div>
        </div>
        <div class="footer-menu__item footer-box">
          <h3 class="footer-box__title">Contacts</h3>
          <div class="footer-content">
            <a href="tel:+380631234567" class="footer-content__item">+38 063 123 45 67</a>
            <a href="mailto:anemonestudio@example.com" class="footer-content__item">
              anemonestudio@example.com</a
            >
            <address class="footer-content__item">
              Reitarska Street, 11<br />
              Kyiv, Ukraine
            </address>
          </div>
        </div>
      </div>

      <ul class="footer-content footer-content--sm">
        <li>
          <a href="#">
            <svg class="footer-box__sm-icon" width="28" height="28">
              <use href="../src/images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="footer-box__sm-icon" width="28" height="28">
              <use href="../src/images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </section>
</footer>
