<!-- Modal1 -->

<div id="myModal2" class="modal1">
  
    <!-- Modal content -->
    
    <div class="modal-content">
      <span class="close-banner">&#x2715;</span>
        
      
        <h2>Contact us</h2>
    <p>
      If you have any additional questions or you want to clarify something before you make an order
      please fill in your contact details. We will call you back.
    </p>
  
      
    <form class="modal-form__order">
      <label class="form-modal__label">
        <span class="form-modal__label-text">Name</span>
        <div class="form-modal__input">
        <input type="name" class="form-modal__text" name="name" placeholder="Kristin Watson">
        </div>
      </label>
      <label class="form-modal__label">
        <span class="form-modal__label-text">Email</span>
        <div class="form-modal__input">
        <input type="email" class="form-modal__text" name="email" placeholder="tanya.hill@example.com">
        </div>
      </label>
      <button type="submit" class="modal__btn">Send</button>
    </form>
    


    </div>
  </div>
