<section class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button type="button" class="modal__close-button" data-modal-close>
        &#x2715;
      </button>
      <div class="modal__img">
        <img class="subscribe__img"
        src="../src/images/blog/blog3-desktop.jpg"
      </div>     
      <div class="modal__text">
      <h3>Follow to our newsletter</h3>
      <p>Be the first  to get exclusive offers and the latest  news on our product directly in your box.</p>
      <form class="form-modal">
        <label class="form-modal__label">
          <span class="form-modal__label-text">Imie</span>
          <div class="form-modal__input">
          <input type="text" class="form-modal__text" name="name">
          </div>
        </label>
      </form>
    </div>
    </div>
</section>
