<!-- Modal1 -->

<div id="myModal1" class="modal1">
  
    <!-- Modal content -->
    <div class="modal-content">

        <span class="close">&#x2715;</span>

        <div>Contact us</div>
    <div>
      If you have any additional questions or you want to clarify something before you make an order
      please fill in your contact details. We will call you back.
    </div>
    <form>
      <label>
        Name
        <input name="name" required />
      </label>
      <label>
        Email
        <input type="email" name="email" required />
      </label>
      <button type="submit">Send</button>
    </form>
  

      
    </div>
  </div>
