<!-- Modal1 -->

<div id="myModal2" class="modal1">
  <!-- Modal content -->

  <div class="modal-content">
    <div class="modal__wraper">
      <div class="modal__close close-banner">&#x2715;</div>
      <h2 class="modal__header">Contact us</h2>
      <p class="modal__description">
        If you have any additional questions or you want to clarify something before you make an
        order please fill in your contact details. We will call you back.
      </p>
      <form class="modal__form">
        <p class="modal__label-text">Name</p>
        <label class="modal__form-label">
          <input
            class="modal__form-input"
            type="text"
            name="name"
            placeholder="Kristin Watson"
            minlength="3"
            required
          />
        </label>
        <p class="modal__label-text">Email</p>
        <label class="modal__form-label">
          <input
            class="modal__form-input"
            type="email"
            name="email"
            placeholder="tanya.hill@example.com"
            required
          />
        </label>
        <button class="close modal__btn btn" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
