<header>
  <div class="container header">
    <div class="logo">
      <svg class="logo__icon">
        <use href="../src/images/icons.svg#icon-logo-tablet-desktop"></use>
      </svg>
    </div>
    <nav>
      <ul class="menu">
        <li class="menu__anemone">
          <a class="menu__link" href="#anemone">Anemone</a>
        </li>
        <li class="menu__about-us">
          <a class="menu__link" href="#about-us">About us</a>
        </li>
        <li class="menu__store">
          <a class="menu__link" href="#store">Store</a>
        </li>
        <li class="menu__delivery">
          <a class="menu__link" href="#delivery">Delivery</a>
        </li>
        <li class="menu__blog">
          <a class="menu__link" href="#blog">Blog</a>
        </li>
      </ul>
    </nav>
    <ul class="icon">
      <li class="icon__list">
        <a href="tel:+380631234567">
          <svg class="icon__tel">
            <use href="../src/images/icons.svg#icon-tel-desktop"></use>
          </svg>
        </a>
      </li>
      <li class="icon__list">
        <button
          class="icon__button menu-toggle js-open-menu header__mobile-menu-button"
          aria-expanded="false"
          aria-controls="mobile-menu"
          type="button"
        >
          <svg class="icon__burger">
            <use href="../src/images/icons.svg#icon-burger"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</header>
