<section id="store">
  <div class="store">
    <div class="store__title-box"><h1 class="store-title">Store</h1></div>
    <div class="store__image-box">
      <ul class="store__list">
        <li class="store__card">
          <div class="store__image">
            <img
              class="store__img-file"
              src="./images/blog/blog-mobile.jpg"
              srcset="
                ./images/store/store-mobile.jpg      288w,
                ./images/store/store-tablet.jpg      344w,
                ./images/store/store-desktop.jpg     632w,
                ./images/store/store-mobile@2x.jpg   576w,
                ./images/store/store-tablet@2x.jpg   688w,
                ./images/store/store-desktop@2x.jpg 1264w
              "
              sizes="(min-width: 1280px) 632px, (min-width: 768px) 344px, 288px"
              alt="flowers"
            />
          </div>
          <div class="store__caption">
            <h2 class="store__caption-title">compliments</h2>
            <p class="store__caption-text">from $15</p>
          </div>
        </li>
        <li class="store__card">
          <div class="store__image">
            <img
              class="store__img-file"
              src="./images/blog/blog-mobile.jpg"
              srcset="
                ./images/store/store1-mobile.jpg      288w,
                ./images/store/store1-tablet.jpg      344w,
                ./images/store/store1-desktop.jpg     632w,
                ./images/store/store1-mobile@2x.jpg   576w,
                ./images/store/store1-tablet@2x.jpg   688w,
                ./images/store/store1-desktop@2x.jpg 1264w
              "
              sizes="(min-width: 1280px) 632px, (min-width: 768px) 344px, 288px"
              alt="flowers"
            />
          </div>
          <div class="store__caption">
            <h2 class="store__caption-title">bouquets size M</h2>
            <p class="store__caption-text">from $25</p>
          </div>
        </li>
        <li class="store__card">
          <div class="store__image">
            <img
              class="store__img-file"
              src="./images/blog/blog-mobile.jpg"
              srcset="
                ./images/store/store2-mobile.jpg      288w,
                ./images/store/store2-tablet.jpg      344w,
                ./images/store/store2-desktop.jpg     632w,
                ./images/store/store2-mobile@2x.jpg   576w,
                ./images/store/store2-tablet@2x.jpg   688w,
                ./images/store/store2-desktop@2x.jpg 1264w
              "
              sizes="(min-width: 1280px) 632px, (min-width: 768px) 344px, 288px"
              alt="flowers"
            />
          </div>
          <div class="store__caption">
            <h2 class="store__caption-title">bouquets size M</h2>
            <p class="store__caption-text">from $45</p>
          </div>
        </li>
        <li class="store__card">
          <div class="store__image">
            <img
              class="store__img-file"
              src="./images/blog/blog-mobile.jpg"
              srcset="
                ./images/store/store4-mobile.jpg      288w,
                ./images/store/store4-tablet.jpg      344w,
                ./images/store/store4-desktop.jpg     632w,
                ./images/store/store4-mobile@2x.jpg   576w,
                ./images/store/store4-tablet@2x.jpg   688w,
                ./images/store/store4-desktop@2x.jpg 1264w
              "
              sizes="(min-width: 1280px) 632px, (min-width: 768px) 344px, 288px"
              alt="flowers"
            />
          </div>
          <div class="store__caption">
            <h2 class="store__caption-title">bouquets size L</h2>
            <p class="store__caption-text">from $60</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="btn">order flowers</div>
  </div>
</section>
