.about{
  margin-bottom: 100px;
&__head {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  align-items: flex-start;
  margin-bottom: 32px;
  position: relative;
  
  @include mq(tablet) {
      font-size: 44px;
    }
  }
&::after{
      content: '';
      position: absolute;
      height: 1px;
      width: 183px; // lenght 100% - space between - width header
      top: 30px;
      background: get-color(brand_color-second);
      left: 14px;
      @include mq(tablet) {
        width: calc(100% - 16px - 166px);
      }}}

  .about__contents {
    display: flex;
    flex-direction: column;
  
  
    @include mq(tablet) {
     
      flex-direction: row;
      flex-wrap: nowrap;
    }}
 
  .about__element{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
  
    @include mq(tablet) {

      font-size: 20px;
      margin-right: 54px;
    }
  
  @include mq(desktop) {
    
      font-size: 22px;
      margin-right: 90px;
    }
  }
  
  
