.blog {
  margin-bottom: 100px;
  &__header {
    font-weight: 700;
    font-size: 24px;
    line-height: 54px;
    margin-bottom: 32px;
    align-items: flex-start;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      height: 1px;
      width: calc(100% - 14px - 72px); // lenght 100% - space between - width header
      top: 50%;
      background: get-color(brand_color-second);
      right: 0;
      @include mq(tablet) {
        width: calc(100% - 10px - 131px); // lenght 100% - space between - width header
      }
    }
    @include mq(tablet) {
      font-size: 44px;
      line-height: 54px;
      margin-bottom: 60px;
    }
    @include mq(desktop) {
      margin-bottom: 122px;
    }
  }
  &__galery {
    margin-bottom: 8px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    @include mq(phone) {
      justify-content: space-around;
    }
    @include mq(tablet) {
      justify-content: space-between;
    }
    @include mq(desktop) {
      margin-bottom: 16px;
    }
  }
  &__img {
    &:last-child {
      display: none;
    }

    @include mq(desktop) {
      &:last-child {
        display: block;
      }
    }
  }
  &__slider-btns {
    text-align: center;
    margin-bottom: 14px;

    @include mq(tablet) {
      //width: 61px;
      height: 61px;
      margin-bottom: 18px;
    }
    @include mq(desktop) {
      margin-bottom: 24px;
    }
  }
  &__btn-left {
    margin-right: 25px;
    @include mq(tablet) {
      width: 61px;
      height: 61px;
    }
  }
  &__btn-right {
    @include mq(tablet) {
      width: 61px;
      height: 61px;
    }
  }
  &__description {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 32px;

    @include mq(tablet) {
      font-size: 32px;
      line-height: 39px;
    }
  }
  &__btn-sub {
    position: static;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  @include mq(phone) {
  }
  @include mq(tablet) {
  }
  @include mq(desktop) {
  }
}
