.btn {
  width: 208px;
  height: 44px;
  background-color: #e86f54;
  border-radius: 38px;
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border: 0px;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .btn {
    width: 280px;
    height: 64px;
    background-color: #e86f54;
    border-radius: 38px;
    color: white;
    font-size: 28px;
    line-height: 24px;
    border: 0px;
  }
}
.btn:hover {
  background-color: #e25b41;
}
.btn:focus {
  background-color: #fa6f54;
  box-shadow: 0px 4px 16px rgba(250, 111, 84, 0.2);
}
.banner__btn {
  position: absolute;
  width: 64px;
  height: 76px;
}
@media screen and (min-width: 768px) {
  .banner__btn {
    width: 145px;
    height: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .banner__btn {
    width: 166px;
    height: 166px;
  }
}
.modal__btn {
  background-color: #e86f54;
  border-radius: 8px;
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border: 0px;

  @include mq(phone) {
    width: 236px;
    height: 37px;
  }
  @include mq(desktop) {
    width: 336px;
    height: 50px;
  }
  @include mq(tablet) {
    width: 336px;
    height: 50px;
  }
}
