footer {
  font-family: get-font(secendary), sans-serif;
  color: get-color(brand_color-first);
  background-color: get-color(brand_color-second);
}
.section {
  margin: 0px;
  padding: 32px 16px;
  @include mq(tablet) {
    padding: 60px 24px;
  }
  @include mq(desktop) {
    padding: 72px 24px;
  }
}

.footer {
  &__logo {
    display: none;
    &--icon {
      fill: get-color(brand_color-first);
      stroke: get-color(brand_color-first);
    }
  }
  &__social-media {
    list-style-type: none;
    padding: 0;
    &--first-item {
      margin-right: 14px;
    }
    &--icon {
      stroke: get-color(brand_color-first);
    }
  }
  &__nav,
  &__opening,
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &--title {
    line-height: 1.22;
    margin-bottom: 6px;
  }
  &--text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
  }
  &--link {
    color: inherit;
    text-decoration: none;
  }
  @include mq(tablet) {
    &__social-media {
      &--first-item {
        margin-bottom: 18px;
      }
    }
  }
  @include mq(desktop) {
    display: flex;
    justify-content: space-between;
    &__logo {
      display: inline;
    }
    &__social-media {
      &--first-item {
        margin-bottom: 18px;
      }
    }
  }
}
