.menu-mobile {
  display: none;
  display: flex;
  flex-direction: column;
  background-color: get-color(brand_color-third);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  &__exit {
    align-self: flex-end;
    margin-top: 22px;
    margin-right: 22px;
    stroke: get-color(brand_color-first);
    margin-bottom: 84px;

    &:focus,
    &:hover {
      cursor: pointer;
      stroke: get-color(brand_color-second);
    }
  }
  text-align: center;
  &__list {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  &__item {
    margin-bottom: 26px;
  }
  &__link {
    text-decoration: none;
    color: get-color(brand_color-first);
    &:focus,
    &:hover {
      color: get-color(brand_color-second);
    }
  }
}
.is-open {
  display: flex;
  transform: translateX(0);
}
