
.modal1 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    visibility: visible;
    opacity: 1;
    transition-property: opacity, visibility, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    display: none;
  }


.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  border-radius: 4px;

  h2 {
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
    color: #000000;
    margin-bottom: 20px;

    @include mq(phone) {
      font-size: 20px;
    }
    @include mq(tablet) {
      font-size: 32px;
      
    }
    @include mq(desktop) {
      font-size: 32px;
      
    }
  }

  p {
    
    text-align: center;
    font-weight: 500;
    
    line-height: 20px;
    color: #5C5C5C;
    margin-bottom: 30px;

    @include mq(phone) {
      font-size: 12px;
    }
    @include mq(tablet) {
      font-size: 15px;
      margin: 0px 65px 0px 65px;
    }
    @include mq(desktop) {
      font-size: 15px;
      margin: 0px 65px 0px 65px;
    }

  }

  @include mq(phone) {
    width: 272px;
    height: 357px;
  }
  @include mq(tablet) {
    width: 480px;
    height: 511px;
  }
  @include mq(desktop) {
    width: 480px;
    height: 511px;
  }

}
.close-banner {
    position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
}
.modal-form__order {
  display: flex;
  flex-direction: column;

  @include mq(phone) {
    margin-left: 80px;
  }
  @include mq(tablet) {
    margin: 0;
  }
  @include mq(desktop) {
    margin: 0;
  }
}
.input {
  display: flex;
  flex-direction: column;
}
