@mixin decorative-line-width($gap, $text-width) {
  content: '';
  position: absolute;
  height: 1px;
  width: calc(100% - $text-width - $gap);
  top: 60%;
  background: get-color(brand_color-second);
  right: 0;
}

.store {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 569px;
  margin-bottom: 60px;

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
  }

  &__title-box {
    text-transform: uppercase;
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    &::after {
      @include decorative-line-width(14px, 84px);
    }
  }

  &__image-box {
    display: flex;
    align-items: center;
    align-items: center;
    width: 100%;
    height: 75%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 47%;
    height: 208px;
    overflow: hidden;
    &:nth-child(1),
    &:nth-child(3) {
      margin-right: 5.6%vw;
    }
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 16px;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 155px;
  }

  &__img-file {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__caption {
    width: 100%;
    height: 25.5%;
  }

  &__caption-title {
    position: relative;
    width: auto;
    display: flex;
    align-items: flex-end;
    height: 50%;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
  }

  &__caption-text {
    width: auto;
    display: flex;
    align-items: flex-end;
    height: 50%;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.6);
  }
}

.btn {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 208px;
  height: 44px;
  background-color: #e86f54;
  border-radius: 38px;
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 0.75;
  border: 0px;
  text-transform: capitalize;
  &:hover {
    background-color: #e25b41;
  }
  &:focus {
    background-color: #fa6f54;
    box-shadow: 0px 4px 16px rgba(250, 111, 84, 0.2);
  }
}
@include mq(phone) {
  .store {
    width: 100%;
    &__title-box {
      font-size: 28px;
      font-weight: 500;
      line-height: 1.16;
      &::after {
        @include decorative-line-width(14px, 84px);
      }
    }
  }
}
@include mq(tablet) {
  .store {
    height: 1260px;
    margin-bottom: 100px;
    &__title {
      font-size: 44px;
      line-height: 54px;
    }
    &__title-box {
      &::after {
        @include decorative-line-width(16px, 154px);
      }
    }

    &__image-box {
      height: 81%;
    }

    &__card {
      width: 46%;
      height: 491px;
      &:nth-child(1),
      &:nth-child(3) {
        margin-right: 32px;
      }
      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 40px;
      }
    }

    &__image {
      height: 399px;
    }

    &__caption {
      height: 19%;
    }

    &__caption-title {
      font-size: 32px;
      line-height: 39px;
      letter-spacing: 0em;
      font-weight: 500;

      &--first::after {
        @include decorative-line-width(8px, 197px);
      }
      &--second::after {
        @include decorative-line-width(8px, 236px);
      }
      &--third::after {
        @include decorative-line-width(8px, 245px);
      }
      &--fourth::after {
        @include decorative-line-width(8px, 235px);
      }
    }

    &__caption-text {
      font-size: 24px;
      line-height: 29px;
    }
  }
  .btn {
    width: 280px;
    height: 64px;
    font-size: 28px;
    line-height: 1.16;
    &:hover {
      background-color: #e25b41;
    }
    &:focus {
      background-color: #fa6f54;
      box-shadow: 0px 4px 16px rgba(250, 111, 84, 0.2);
    }
  }
}

@include mq(desktop) {
  .store {
    width: 100%;
    height: 1602px;
    &__title-box {
      font-size: 44px;
      font-weight: 700;
      line-height: 0.81;
      &::after {
        @include decorative-line-width(16px, 154px);
      }

      &__image-box {
        height: 83.9%;
      }

      &__card:nth-child(1),
      &__card:nth-child(3) {
        margin-right: 2.6%;
      }

      &__card:nth-child(1),
      &__card:nth-child(2) {
        margin-bottom: 4.8%;
      }

      &__card {
        width: 48.7%;
        height: 47.6%;
      }

      &__image {
        height: 542px;
      }

      &__caption {
        height: 15.3%;
      }

      &__caption-title {
        font-size: 36px;
        line-height: 44px;

        &--first::after {
          @include decorative-line-width(16px, 214px);
        }
        &--second::after {
          @include decorative-line-width(16px, 256px);
        }
        &--third::after {
          @include decorative-line-width(16px, 268px);
        }
        &--fourth::after {
          @include decorative-line-width(16px, 154px);
        }
      }

      &__caption-text {
        font-size: 28px;
        line-height: 34px;
      }
    }
  }
}
