.a-head {
    display: flex;
    flex-direction: row;
  }
  .a-head__heading {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #000000;
  }
  @media screen and (min-width: 768px) {
    .a-head__heading {
      font-size: 44px;
    }
  }
  @media screen and (min-width: 1280px) {
    .a-head__heading {
      font-size: 44px;
    }
  }
  .a-contents {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    .a-contents {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
  @media screen and (min-width: 1280px) {
    .a-contents {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
  .a-contents__e {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
  }
  @media screen and (min-width: 768px) {
    .a-contents__e {
      font-size: 20px;
    }
  }
  @media screen and (min-width: 1280px) {
    .a-contents__e {
      font-size: 22px;
    }
  }
  .a-contents__img{
    width: 288px;
    height: 178px;
  }
  @media screen and (min-width: 768px) {
    .a-contents__img {
      width: 344px;
    height: 217px;
    }
  }
  @media screen and (min-width: 1280px) {
    .a-contents__img {
      width: 632px;
    height: 344px;
    }
  }
  .a-head__sign::after{
    
        
        position: absolute;
        width: 183px;
        height: 1px;
        left: 105px;
        top: 14px;
        border: 1px solid #000000;
  }